
// colors

colors = {
    default : #eee,
    primary : #284184,
    success : #43A367,
    info : #167A8B,
    warning : #FBB040,
    danger : #E14242,

    white : #fff,
    black : #000,
    gray : #505458,
    panel : #1A1A1B

}



// devices

device = {
    movil : 480px,
    tablet : 768px,
    web : 1024px
}


//fonts

fonts = {
    title: 'Lato',
    paragraph: 'Roboto'
}


// font size
// value initial = 16px
f-size = {
    h1 : 2em,
    h2 : 1.5em,
    h3 : 1.17em,
    h4 : 1.12em,
    h5 : 0.83em,
    h6 : 0.75em
}
