
<aside class="aside-main">
  <div class="cnt-logo-admin">
    <div class="titulo">
      <h1>ADMIN DH</h1>
    </div>
  </div>
  <div class="cnt-usuario">
    <figure><img src="../../static/img/usuarios/user2-160x160.jpg" alt=""/></figure>
    <div class="usuario">
      <h3 class="usuario-nombre">Daniel Huamani</h3>
      <p class="usuario-cargo">
        Programador
        
      </p>
    </div>
  </div>
  <div class="cnt-menu">
    <ul class="ul-header-main">
      <li><a><span>
            Inicio
            </span></a></li>
      <li><a><span>Forms</span></a>
        <ul class="menu-secund">
          <li><a><span>Generales</span></a></li>
          <li><a><span>Avanzados</span></a></li>
        </ul>
      </li>
      <li><a><span>Pagina de Ejemplo</span></a>
        <ul class="menu-secund">
          <li><a><span>Login</span></a></li>
          <li><a><span>Registrar</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>