
c-nav = #353d47
c-nav-hover = #252727
c-danger = #d73925
c-success = #1ab394
c-info = #00bcd4
c-blanco = #fff
c-default =  #8095a8

f-titulo-admin = 24px
f-titulo = 22px
f-subtitulo = 18px
f-normal = 16px
f-texto = 14px
