
<header>
  <div class="container-all">
    <div class="row row--between"><a href="" class="fa fa-bars icon-menu"></a>
      <div class="row row--end"><a href="" class="content container-notification toggle"><i class="fa fa-bell icon-notification"></i><span class="number">5</span></a>
        <div class="avatar-thumb row">
          <figure><img src="../../static/img/usuarios/user2-160x160.jpg" width="36" height="36" alt="" class="thumbnail-circle"/></figure>
          <h5 class="username">
            Daniel Huamani
            <i class="fa fa-chevron-down icon-down"></i>
          </h5>
        </div>
      </div>
    </div>
  </div>
</header>