
<aside class="aside-main">
  <div class="cnt-logo-admin">
    <div class="titulo">
      <h2>ADMIN DH</h2>
    </div>
  </div>
  <div class="cnt-usuario text-center">
    <figure><img src="../../static/img/usuarios/user2-160x160.jpg" alt=""/></figure>
    <div class="usuario">
      <h4 class="usuario-nombre">Daniel Huamani</h4>
      <p class="usuario-cargo">
        Programador
        
      </p>
    </div>
  </div>
  <div class="cnt-menu">
    <div class="menu-navegacion p-l-25 p-t-10 p-b-10">
      <h5>Menu Navegación</h5>
    </div>
    <ul class="ul-menu-main n-m">
      <li><a><span>
            Dashboard
            
            </span></a></li>
      <li><a><span>
            Icon
            </span></a></li>
      <li><a class="active"><span>
            Forms
            <i class="icon-arrow-menu fa fa-chevron-down"></i></span></a>
        <ul class="menu-secund">
          <li><a><span>Generales</span></a></li>
          <li><a><span>Avanzados</span></a></li>
        </ul>
      </li>
      <li><a><span>
            Pagina de Ejemplo
            <i class="icon-arrow-menu fa fa-chevron-down"></i></span></a>
        <ul class="menu-secund">
          <li><a><span>Login</span></a></li>
          <li><a><span>Registrar</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>