

color_default = #eee
color_primary = #284184
color_success = #43A367
color_info = #167A8B
color_warning = #FBB040
color_danger = #E14242

color_white = #fff
color_black = #000
color_gray = #505458
color_panel = #1A1A1B
color_background = #eee

color_sidebar = #232732
color_login = #646464
color_usuario = #1f2028
color_main = #faa800
