aside.aside-main
	.cnt-logo-admin
		.titulo
			h1 ADMIN DH
	.cnt-usuario
		figure
			img(src="../../static/img/usuarios/user2-160x160.jpg", alt="")
		.usuario
			h3.usuario-nombre.
				Daniel Huamani
			p.usuario-cargo.
				Programador

	.cnt-menu
		ul.ul-header-main
			li
				a
					span.
						Inicio

			li
				a
					span.
						Forms
				ul.menu-secund
					li
						a
							span.
								Generales
					li
						a
							span.
								Avanzados
			li
				a
					span.
						Pagina de Ejemplo
				ul.menu-secund
					li
						a
							span.
								Login
					li
						a
							span.
								Registrar
