header
	.container-all
		.row.row--between
			a(href="").fa.fa-bars.icon-menu
			.row.row--end
				a(href="").content.container-notification.toggle
					i.fa.fa-bell.icon-notification
					span.number.
						5
				.avatar-thumb.row
					figure
						img(src="../../static/img/usuarios/user2-160x160.jpg", width="36"  height="36" alt="" class="thumbnail-circle")
					h5.username.
						Daniel Huamani
						<i class="fa fa-chevron-down icon-down"></i>

